html {
    background-color: #792472;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    font-family: 'Varela', sans-serif!important;
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 200;
}

header {
    padding: 10px 0;
    height: 100px;
}

.container.index {
    width: 98%;
    padding-left: 2%;
}

.container {
    width: 96%;
    clear: both;
    padding: 5% 0;
    background: #F3F3F3!important;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}


.wrapper {
    margin: 1% 0%;
    float: left;
    width: 97.5%;
    text-align: left;
}


/* headings and fonts */

h1, h2, h3, h4, h5, h6 {
    color: #222;
    line-height: 1em;
    font-family: 'Cabin', sans-serif;
}

h2 {
    margin: 30px 0 10px 0;
    font-size: 1.2em;
}


h3 {
    font-size: 1.2em;
    margin: 20px 0 5px 0;
    font-weight: bold;
}

h4 {
    font-size: 1em;
    line-height: 1.4em;
    margin: 30px 0 10px 0;
    font-weight: 400;
}

h1 {
    text-align: center;
    color: #fff!important;
    font-size: 3.2em;
    font-weight: 600;
    margin: 40px auto 0 auto;
}

p {
    margin: 10px 0;
}

.center {margin: 0 auto;}

.small {
    margin-top: 1em;
    font-size: .9em;
    margin-bottom: 2em;
}

ul {
    margin: 8px 0;
    line-height: 1.2em;
}

ul.sans {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.date {
    color:#fff!important;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    padding: 5px 0 15px 0;
    font-size: 1.2em;
}

.date span {
        display: block;
}

.font-change {
    font-family: sans-serif;
    display: inline;
}

.caps-change {
    text-transform: lowercase!important;
    display: inline;
}

.big-space {
    margin-top: 2em!important;
}

.space-space {
    margin-bottom: 1.5em;
}

b, strong {
    font-weight: 600;
}

.index h2 {
   font-size: 1.1em;
    display: block;
    margin: 0;
    line-height: 1.4em;
}

.bold {
    font-weight: bold;
}

/* icons */

i {
    color: #792472;
    width: 42px;
}

/* links */

a {
    color: #792472!important;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

a > i {
    width: auto; 
}

.agenda p {
    margin: 5px 0 10px 0;
}

.agenda-time {
    margin: 1em 0!important;
    float: left;
    width: 100%;
}

.agenda-time .time {
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Cabin', sans-serif;
}

.agenda-time i {
    color: #333333;
}

.agenda span {
    margin: 3px 20px 3px 0;
    float: left;
    clear: both;
}

.agenda-time .list {
    float: left;
    clear: both;
    margin: 0;
}

/* images */
img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 0 none!important;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

.map {
    max-width: 600px;
    width: 100%;
    margin: 3em auto 1em auto;
    text-align: center;
}

.swipebox {
    text-align: center;
    font-size: .85em;
    font-weight: normal;
    color: #333!important;
    margin-bottom: 2em;
}

.image_box {
    width: 25%;
    float: right;
    padding-left: 5%;
}

.image_box img {
    max-height: 400px;
}
/* .box stuff */

.text {
    float: left;
    width: 100%;
}

.thanks {
    height: 200px!important;
}

.thanks h3 {
    padding-left: 1em!important;
    margin-bottom: 0.7em!important;
}

.box {
    width: 100%;
    float: left;
}

.box h2 {
    color: #2f2f2f;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin: 20px 0 5px 0;
}

.box ul {
    padding: 0;
    margin: 0;
}

ul li {
    margin: 5px 0px 5px 16px;
}

.indent {
    margin-left: 30px;
}

h3 {
    margin: 20px 0 5px 0;
    font-weight: bold;
}

.white iframe {
    width: 100%!important;
}


.index .box {
    margin-bottom: 10px;
    text-align: left;
}

.image_display {
  display: none;
}

/* form */

.formbox {
    padding-top: 20px;
}

form header {
    background: none;
    height: 40px;
}

form header h2, form legend {
    margin: 0;
    padding: 5px 0;
}

form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form fieldset {
    border: 0 none;
    padding: 0;
}

fieldset > div > span {
    float: left;
    clear: both;
    padding: 7px 0;
}

fieldset > div > span > input {
    margin-right: 10px;
}

form span input {
    float: left;
}

form label > span {
    clear: none;
}

#req_1 {
    display: none;
}

/* buttons */

.button_container {
    margin: 5px 0 20px 0px;
    float: left;
    clear: both;
}

.button_container_first {
    margin: 5px 0 20px 0px;
    float: left;
}

.btTxt, #eventbrite-widget-modal-trigger-42558488585 {
    padding: 10px;
    border-radius: 5px;
    background-color: #792472;
    color: #fff!important;
    border: 0 none;
    border-bottom: 5px solid #4a1646;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.85em;
    margin: 7px 0 23px 0;
    display: block;
    width: 200px;
    text-align: center;
}

.btTxt:hover {
    background-color: #4a1646;
    border-bottom: 5px solid #1b0819;
    cursor: pointer;
    text-decoration: none;
}

.btTxt:active {
     transform: translateY(5px);
    border-bottom: 1px solid #4a1646;
}

.footer_button_container {
    height: 35px;
    margin: 0 0 23px 0;
}

.footer_button_container > .btTxt {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #792472!important;
    border: 1px solid #e0e0e0!important;
    border-bottom: 5px solid #e0e0e0!important;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.85em;
    margin: 0;
    display: block;
    width: 300px;
    height: 25px;
    text-align: center;
}

.footer_button_container > .btTxt:hover {
    cursor: pointer;
    text-decoration: none;
}

.footer_button_container > .btTxt:active {
    transform: translateY(5px);
    border-bottom: 1px solid #e0e0e0!important;
}

.boxx {
    clear: both;
    float: left;
    margin-bottom: 20px;
}

.boxx p {
    margin: 8px 0;
}

/* acccordion */

.ui-accordion .ui-accordion-content {
    padding: 2em!important;
}

.accordion > h3.ui-state-active {
    color: #fff!important;
    background: #792472!important;
}

.accordion > h3.ui-state-active > i {
    color: #fff!important;
}

.coming-soon i {
    color: #6a6a6a;
}

.accordion > h3, .coming-soon > h3 {
    font-size: 1.2em!important;
    text-align: left;
    background: #fff!important;
    color: #792472!important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #dddddd;
} 

.ui-accordion .ui-accordion-header, .coming-soon .ui-accordion-header {
    padding: .7em .5em .7em .7em!important;
}


.coming-soon > h3 {
     background: #efefef!important;
    color: #6a6a6a!important;
}

.accordion, .coming-soon {
    max-width: 990px;
    width: 98%;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 0 none!important;
    background: #792472!important;
}

.wrapper.vote {
    padding: 1.1%!important;
}

    .white iframe {
        height: 450px!important;
    }


/* footer */

footer {
    padding: 10px 0; 
    clear: both;
}

footer p, footer p a  {
    color: #792472!important;
    text-align: center;
    font-size: 0.8em;
    font-family: 'Varela', sans-serif!important;
}


@media screen  and (max-width : 350px) {
    
    .box img {
        max-width: 70px;
        max-height: 70px;
        border: 0 none;
    }

    .ui-accordion .ui-accordion-header {
        padding: 1em .5em 1em .7em!important;
    }

    header h1 {
        text-align: center;
        color: #fff;
        font-size: 1.7em;
    }
    
    .btTxt {
        font-size: 0.80em;
    }

    header .colours {
        width: 200px;
        margin-top: 10px;
    }
    
    .date {
        padding: 0px 0 15px 0;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 2em;
    }

    .accordion > h3 {
        font-size: 1em;
    }
    
    .box h2 {
        line-height: 1.5em;
    }
    
    body {
        font-family: Arial, sans-serif!important;
        font-weight: normal;
    }
    
    .two-lines {
        margin-left: 2px;
        margin-top: -3px;
    }
    
    h3.ui-accordion-header span {
        font-size: .8em;
    }
    
    .date {
        padding: 5px 15px 15px 15px;
        font-size: 1em;
    }
    
    
}

@media screen and (max-width: 750px) {

    h3.ui-accordion-header i {
        height: 11px;
        float: left;
        vertical-align: middle;
        display: block;
        padding-top: 5px;
    }
    
    h3.ui-accordion-header span {
        height: 32px;
        position: absolute;
        padding-top: 6px;
    }
    
    .accordion > h3, .coming-soon > h3 {
        height: 30px;
        font-size: 1em;
    }
    
    .two-lines {
        padding-top: 0!important;
    }
        
}


@media screen and (min-width: 550px) {
  
    .box img, .image_display {
        display: block;
        border: 0 none;
        margin: 5px 20px 10px 0;
        float: left;
    }
    
    .text {
        width: 70%;
    }
    
}

@media screen and (min-width: 585px) {
    
    .two-lines {
        padding-top: 6px!important;
    }
    
    
   h3.ui-accordion-header span {
       margin-left: -7px;
    }
    
    .coming-soon h3.ui-accordion-header span {
        margin-left: -11px;
    }
    
}



@media screen and (min-width:600px) {
        
    .button_container {
        margin: 5px 0 20px 10px;
        clear: none;
    }
    
}

@media screen and (min-width: 750px) {
    
    h3.ui-accordion-header span {
        margin-left: 0px;
    }
    
    .coming-soon h3.ui-accordion-header span {
        margin-left: -4px;
    }
}

 
@media screen  and (min-width : 800px) {
    
    ul {
        line-height: 1.5em;
    }


    .container {
        padding: 2% 0;
    }
    
    .container.index {
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    .vote .wrapper {
        float: none;
        margin: 0 auto;
        width: 300px;
    }
    
    #eventzilla-iframe {
        margin: 0 auto;
        width: 600px;
    }
    

    
}

@media screen and (min-width: 900px) {
    
    .index a {
        float: left;
    }
    
    .box.white a, .wrapper a {
        float: none;
    }

    .container.index {
        height: auto;
        text-align: center;
        display: block;
        max-width: 990px;
    }
}